@model IEnumerable<Atividade_Allbert_Cinema.Models.Exibicoes>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-12">
        <h1 class="text-center p-5">Filmes em exibição</h1>
    </div>
</div>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-12 col-md-4 p-3 text-center">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <i class="fas fa-ticket-alt card-img-top p-1" style="font-size:15vh;"></i>

                    <h5 class="card-title font-weight-bold">@Html.DisplayFor(modelItem => item.Filme.Nome)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Sala.Nome)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Filme.Duracao)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Filme.Categoria.Descricao)</p>
                </div>
            </div>
        </div>
    }
</div>

